config cntlm
	option disabled '1'
	
	option auth 'NTLMv2'
	option ntlm_to_basic '0'
	option username 'testuser'
	option domain 'testcorp'
	option password 'password'
	list listen '127.0.0.1:3128'
	# list listen '192.168.1.1:3128'
	option noproxy 'localhost, 127.0.0.*, 10.*, 192.168.*'
	# option socks5_port '1080'
	option workstation 'netbios1'
	option proxy '10.23.45.32:8080'
	# option tunnels '11443:remote:443'
	# option socks5_users 'bob:secret'

